<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.FlTcpLectureMapper">
    
    <resultMap type="FlTcpLecture" id="FlTcpLectureResult">
        <result property="id"    column="id"    />
        <result property="lectureTitle"    column="lecture_title"    />
        <result property="lectureTime"    column="lecture_time"    />
        <result property="stuId"    column="stu_id"    />
        <result property="stuName"    column="stu_name"    />
        <result property="empName"    column="emp_name"    />
        <result property="title"    column="title"    />
        <result property="useStatus"    column="use_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFlTcpLectureVo">
        select id, lecture_title, lecture_time, stu_id, stu_name, emp_name, title, use_status, create_by, create_time, update_by, update_time, remark from fl_tcp_lecture
    </sql>

    <select id="selectFlTcpLectureList" parameterType="FlTcpLecture" resultMap="FlTcpLectureResult">
        <include refid="selectFlTcpLectureVo"/>
        <where>  
            <if test="empName != null  and empName != ''"> and emp_name like concat('%', #{empName}, '%')</if>
        </where>
    </select>
    
    <select id="selectFlTcpLectureById" parameterType="Long" resultMap="FlTcpLectureResult">
        <include refid="selectFlTcpLectureVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFlTcpLecture" parameterType="FlTcpLecture" useGeneratedKeys="true" keyProperty="id">
        insert into fl_tcp_lecture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lectureTitle != null and lectureTitle != ''">lecture_title,</if>
            <if test="lectureTime != null">lecture_time,</if>
            <if test="stuId != null and stuId != ''">stu_id,</if>
            <if test="stuName != null and stuName != ''">stu_name,</if>
            <if test="empName != null and empName != ''">emp_name,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="useStatus != null and useStatus != ''">use_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lectureTitle != null and lectureTitle != ''">#{lectureTitle},</if>
            <if test="lectureTime != null">#{lectureTime},</if>
            <if test="stuId != null and stuId != ''">#{stuId},</if>
            <if test="stuName != null and stuName != ''">#{stuName},</if>
            <if test="empName != null and empName != ''">#{empName},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="useStatus != null and useStatus != ''">#{useStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFlTcpLecture" parameterType="FlTcpLecture">
        update fl_tcp_lecture
        <trim prefix="SET" suffixOverrides=",">
            <if test="lectureTitle != null and lectureTitle != ''">lecture_title = #{lectureTitle},</if>
            <if test="lectureTime != null">lecture_time = #{lectureTime},</if>
            <if test="stuId != null and stuId != ''">stu_id = #{stuId},</if>
            <if test="stuName != null and stuName != ''">stu_name = #{stuName},</if>
            <if test="empName != null and empName != ''">emp_name = #{empName},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="useStatus != null and useStatus != ''">use_status = #{useStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFlTcpLectureById" parameterType="Long">
        delete from fl_tcp_lecture where id = #{id}
    </delete>

    <delete id="deleteFlTcpLectureByIds" parameterType="String">
        delete from fl_tcp_lecture where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>