<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MoralCharaPartyDevelopmentMapper">
    
    <resultMap type="MoralCharaPartyDevelopment" id="MoralCharaPartyDevelopmentResult">
        <result property="id"    column="id"    />
        <result property="collegeName"    column="college_name"    />
        <result property="submitNumber"    column="submit_number"    />
        <result property="activistNumber"    column="activist_number"    />
        <result property="developmentTime"    column="development_time"    />
        <result property="developmentNumber"    column="development_number"    />
        <result property="partyNumber"    column="party_number"    />
        <result property="other"    column="other"    />
        <result property="useStatus"    column="use_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMoralCharaPartyDevelopmentVo">
        select id, college_name, submit_number, activist_number, development_time, development_number, party_number, other, use_status, create_by, create_time, update_by, update_time, remark from moral_chara_party_development
    </sql>

    <select id="selectMoralCharaPartyDevelopmentList" parameterType="MoralCharaPartyDevelopment" resultMap="MoralCharaPartyDevelopmentResult">
        <include refid="selectMoralCharaPartyDevelopmentVo"/>
        <where>  
            <if test="collegeName != null  and collegeName != ''"> and college_name like concat('%', #{collegeName}, '%')</if>
            <if test="submitNumber != null  and submitNumber != ''"> and submit_number = #{submitNumber}</if>
            <if test="activistNumber != null  and activistNumber != ''"> and activist_number = #{activistNumber}</if>
            <if test="developmentTime != null  and developmentTime != ''"> and development_time = #{developmentTime}</if>
            <if test="developmentNumber != null  and developmentNumber != ''"> and development_number = #{developmentNumber}</if>
            <if test="partyNumber != null  and partyNumber != ''"> and party_number = #{partyNumber}</if>
            <if test="other != null  and other != ''"> and other = #{other}</if>
            <if test="useStatus != null  and useStatus != ''"> and use_status = #{useStatus}</if>
        </where>
    </select>
    
    <select id="selectMoralCharaPartyDevelopmentById" parameterType="Long" resultMap="MoralCharaPartyDevelopmentResult">
        <include refid="selectMoralCharaPartyDevelopmentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMoralCharaPartyDevelopment" parameterType="MoralCharaPartyDevelopment" useGeneratedKeys="true" keyProperty="id">
        insert into moral_chara_party_development
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="collegeName != null">college_name,</if>
            <if test="submitNumber != null">submit_number,</if>
            <if test="activistNumber != null">activist_number,</if>
            <if test="developmentTime != null">development_time,</if>
            <if test="developmentNumber != null">development_number,</if>
            <if test="partyNumber != null">party_number,</if>
            <if test="other != null">other,</if>
            <if test="useStatus != null">use_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="collegeName != null">#{collegeName},</if>
            <if test="submitNumber != null">#{submitNumber},</if>
            <if test="activistNumber != null">#{activistNumber},</if>
            <if test="developmentTime != null">#{developmentTime},</if>
            <if test="developmentNumber != null">#{developmentNumber},</if>
            <if test="partyNumber != null">#{partyNumber},</if>
            <if test="other != null">#{other},</if>
            <if test="useStatus != null">#{useStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMoralCharaPartyDevelopment" parameterType="MoralCharaPartyDevelopment">
        update moral_chara_party_development
        <trim prefix="SET" suffixOverrides=",">
            <if test="collegeName != null">college_name = #{collegeName},</if>
            <if test="submitNumber != null">submit_number = #{submitNumber},</if>
            <if test="activistNumber != null">activist_number = #{activistNumber},</if>
            <if test="developmentTime != null">development_time = #{developmentTime},</if>
            <if test="developmentNumber != null">development_number = #{developmentNumber},</if>
            <if test="partyNumber != null">party_number = #{partyNumber},</if>
            <if test="other != null">other = #{other},</if>
            <if test="useStatus != null">use_status = #{useStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMoralCharaPartyDevelopmentById" parameterType="Long">
        delete from moral_chara_party_development where id = #{id}
    </delete>

    <delete id="deleteMoralCharaPartyDevelopmentByIds" parameterType="String">
        delete from moral_chara_party_development where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>