<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MoralEduActivitiesMapper">
    
    <resultMap type="MoralEduActivities" id="MoralEduActivitiesResult">
        <result property="id"    column="id"    />
        <result property="activityTime"    column="activity_time"    />
        <result property="activityTitle"    column="activity_title"    />
        <result property="activeContent"    column="active_content"    />
        <result property="useStatus"    column="use_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMoralEduActivitiesVo">
        select id, activity_time, activity_title, active_content, use_status, create_by, create_time, update_by, update_time, remark from moral_edu_activities
    </sql>

    <select id="selectMoralEduActivitiesList" parameterType="MoralEduActivities" resultMap="MoralEduActivitiesResult">
        <include refid="selectMoralEduActivitiesVo"/>
        <where>  
            <if test="activityTime != null  and activityTime != ''"> and activity_time = #{activityTime}</if>
            <if test="activityTitle != null  and activityTitle != ''"> and activity_title = #{activityTitle}</if>
            <if test="activeContent != null  and activeContent != ''"> and active_content = #{activeContent}</if>
            <if test="useStatus != null  and useStatus != ''"> and use_status = #{useStatus}</if>
        </where>
    </select>
    
    <select id="selectMoralEduActivitiesById" parameterType="Long" resultMap="MoralEduActivitiesResult">
        <include refid="selectMoralEduActivitiesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMoralEduActivities" parameterType="MoralEduActivities" useGeneratedKeys="true" keyProperty="id">
        insert into moral_edu_activities
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityTime != null">activity_time,</if>
            <if test="activityTitle != null">activity_title,</if>
            <if test="activeContent != null">active_content,</if>
            <if test="useStatus != null">use_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityTime != null">#{activityTime},</if>
            <if test="activityTitle != null">#{activityTitle},</if>
            <if test="activeContent != null">#{activeContent},</if>
            <if test="useStatus != null">#{useStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMoralEduActivities" parameterType="MoralEduActivities">
        update moral_edu_activities
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityTime != null">activity_time = #{activityTime},</if>
            <if test="activityTitle != null">activity_title = #{activityTitle},</if>
            <if test="activeContent != null">active_content = #{activeContent},</if>
            <if test="useStatus != null">use_status = #{useStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMoralEduActivitiesById" parameterType="Long">
        delete from moral_edu_activities where id = #{id}
    </delete>

    <delete id="deleteMoralEduActivitiesByIds" parameterType="String">
        delete from moral_edu_activities where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>