<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TeachPraSelectMapper">
    
    <resultMap type="TeachPraSelect" id="TeachPraSelectResult">
        <result property="id"    column="id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="stuId"    column="stu_id"    />
        <result property="stuName"    column="stu_name"    />
        <result property="grade"    column="grade"    />
        <result property="cla"    column="cla"    />
        <result property="major"    column="major"    />
        <result property="eduLevel"    column="edu_level"    />
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="empName"    column="emp_name"    />
        <result property="useStatus"    column="use_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTeachPraSelectVo">
        select id, dept_name, stu_id, stu_name, grade, cla, major, edu_level, project_id, project_name, emp_name, use_status, create_by, create_time, update_by, update_time, remark from teach_pra_select
    </sql>

    <select id="selectTeachPraSelectList" parameterType="TeachPraSelect" resultMap="TeachPraSelectResult">
        <include refid="selectTeachPraSelectVo"/>
        <where>  
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="stuId != null  and stuId != ''"> and stu_id = #{stuId}</if>
            <if test="stuName != null  and stuName != ''"> and stu_name like concat('%', #{stuName}, '%')</if>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
            <if test="cla != null  and cla != ''"> and cla = #{cla}</if>
            <if test="major != null  and major != ''"> and major = #{major}</if>
            <if test="eduLevel != null  and eduLevel != ''"> and edu_level = #{eduLevel}</if>
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="empName != null  and empName != ''"> and emp_name like concat('%', #{empName}, '%')</if>
            <if test="useStatus != null  and useStatus != ''"> and use_status = #{useStatus}</if>
        </where>
    </select>
    
    <select id="selectTeachPraSelectById" parameterType="Long" resultMap="TeachPraSelectResult">
        <include refid="selectTeachPraSelectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTeachPraSelect" parameterType="TeachPraSelect" useGeneratedKeys="true" keyProperty="id">
        insert into teach_pra_select
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptName != null">dept_name,</if>
            <if test="stuId != null">stu_id,</if>
            <if test="stuName != null">stu_name,</if>
            <if test="grade != null">grade,</if>
            <if test="cla != null">cla,</if>
            <if test="major != null">major,</if>
            <if test="eduLevel != null">edu_level,</if>
            <if test="projectId != null">project_id,</if>
            <if test="projectName != null">project_name,</if>
            <if test="empName != null">emp_name,</if>
            <if test="useStatus != null">use_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptName != null">#{deptName},</if>
            <if test="stuId != null">#{stuId},</if>
            <if test="stuName != null">#{stuName},</if>
            <if test="grade != null">#{grade},</if>
            <if test="cla != null">#{cla},</if>
            <if test="major != null">#{major},</if>
            <if test="eduLevel != null">#{eduLevel},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="empName != null">#{empName},</if>
            <if test="useStatus != null">#{useStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTeachPraSelect" parameterType="TeachPraSelect">
        update teach_pra_select
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="stuId != null">stu_id = #{stuId},</if>
            <if test="stuName != null">stu_name = #{stuName},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="cla != null">cla = #{cla},</if>
            <if test="major != null">major = #{major},</if>
            <if test="eduLevel != null">edu_level = #{eduLevel},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="empName != null">emp_name = #{empName},</if>
            <if test="useStatus != null">use_status = #{useStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeachPraSelectById" parameterType="Long">
        delete from teach_pra_select where id = #{id}
    </delete>

    <delete id="deleteTeachPraSelectByIds" parameterType="String">
        delete from teach_pra_select where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>