<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增7.1.2-1 各专业党员发展计划、发展情况汇总')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-development-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">所在支部：</label>
                <div class="col-sm-8">
                    <input name="collegeName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">已提交入党申请书数量：</label>
                <div class="col-sm-8">
                    <input name="submitNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">现有入党积极分子存量：</label>
                <div class="col-sm-8">
                    <input name="activistNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">拟发展时间：</label>
                <div class="col-sm-8">
                    <input name="developmentTime" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">拟发展计划数：</label>
                <div class="col-sm-8">
                    <input name="developmentNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">现有党员数：</label>
                <div class="col-sm-8">
                    <input name="partyNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他：</label>
                <div class="col-sm-8">
                    <input name="other" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否使用：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="useStatus" value="">
                        <label th:for="useStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/development"
        $("#form-development-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-development-add').serialize());
            }
        }
    </script>
</body>
</html>