<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('7.1.2-1 各专业党员发展计划、发展情况汇总列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>所在支部：</label>
                                <input type="text" name="collegeName"/>
                            </li>
                            <li>
                                <label>已提交入党申请书数量：</label>
                                <input type="text" name="submitNumber"/>
                            </li>
                            <li>
                                <label>现有入党积极分子存量：</label>
                                <input type="text" name="activistNumber"/>
                            </li>
                            <li>
                                <label>拟发展时间：</label>
                                <input type="text" name="developmentTime"/>
                            </li>
                            <li>
                                <label>拟发展计划数：</label>
                                <input type="text" name="developmentNumber"/>
                            </li>
                            <li>
                                <label>现有党员数：</label>
                                <input type="text" name="partyNumber"/>
                            </li>
                            <li>
                                <label>其他：</label>
                                <input type="text" name="other"/>
                            </li>
                            <li>
                                <label>是否使用：</label>
                                <select name="useStatus">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:development:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:development:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:development:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:development:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:development:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:development:remove')}]];
        var prefix = ctx + "system/development";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "7.1.2-1 各专业党员发展计划、发展情况汇总",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '序号',
                    visible: false
                },
                {
                    field: 'collegeName',
                    title: '所在支部'
                },
                {
                    field: 'submitNumber',
                    title: '已提交入党申请书数量'
                },
                {
                    field: 'activistNumber',
                    title: '现有入党积极分子存量'
                },
                {
                    field: 'developmentTime',
                    title: '拟发展时间'
                },
                {
                    field: 'developmentNumber',
                    title: '拟发展计划数'
                },
                {
                    field: 'partyNumber',
                    title: '现有党员数'
                },
                {
                    field: 'other',
                    title: '其他'
                },
                {
                    field: 'useStatus',
                    title: '是否使用'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>