<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.FlAbilityDivisionMapper">
    
    <resultMap type="FlAbilityDivision" id="FlAbilityDivisionResult">
        <result property="id"    column="id"    />
        <result property="empId"    column="emp_id"    />
        <result property="empName"    column="emp_name"    />
        <result property="post"    column="post"    />
        <result property="division"    column="division"    />
        <result property="useStatus"    column="use_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFlAbilityDivisionVo">
        select id, emp_id, emp_name, post, division, use_status, create_by, create_time, update_by, update_time, remark from fl_ability_division
    </sql>

    <select id="selectFlAbilityDivisionList" parameterType="FlAbilityDivision" resultMap="FlAbilityDivisionResult">
        <include refid="selectFlAbilityDivisionVo"/>
        <where>  
            <if test="empId != null  and empId != ''"> and emp_id = #{empId}</if>
            <if test="empName != null  and empName != ''"> and emp_name like concat('%', #{empName}, '%')</if>
        </where>
    </select>
    
    <select id="selectFlAbilityDivisionById" parameterType="Long" resultMap="FlAbilityDivisionResult">
        <include refid="selectFlAbilityDivisionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFlAbilityDivision" parameterType="FlAbilityDivision" useGeneratedKeys="true" keyProperty="id">
        insert into fl_ability_division
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="empId != null and empId != ''">emp_id,</if>
            <if test="empName != null and empName != ''">emp_name,</if>
            <if test="post != null and post != ''">post,</if>
            <if test="division != null and division != ''">division,</if>
            <if test="useStatus != null and useStatus != ''">use_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="empId != null and empId != ''">#{empId},</if>
            <if test="empName != null and empName != ''">#{empName},</if>
            <if test="post != null and post != ''">#{post},</if>
            <if test="division != null and division != ''">#{division},</if>
            <if test="useStatus != null and useStatus != ''">#{useStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFlAbilityDivision" parameterType="FlAbilityDivision">
        update fl_ability_division
        <trim prefix="SET" suffixOverrides=",">
            <if test="empId != null and empId != ''">emp_id = #{empId},</if>
            <if test="empName != null and empName != ''">emp_name = #{empName},</if>
            <if test="post != null and post != ''">post = #{post},</if>
            <if test="division != null and division != ''">division = #{division},</if>
            <if test="useStatus != null and useStatus != ''">use_status = #{useStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFlAbilityDivisionById" parameterType="Long">
        delete from fl_ability_division where id = #{id}
    </delete>

    <delete id="deleteFlAbilityDivisionByIds" parameterType="String">
        delete from fl_ability_division where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>