<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.FlTcpPaperMapper">
    
    <resultMap type="FlTcpPaper" id="FlTcpPaperResult">
        <result property="id"    column="id"    />
        <result property="stuId"    column="stu_id"    />
        <result property="stuName"    column="stu_name"    />
        <result property="major"    column="major"    />
        <result property="cla"    column="cla"    />
        <result property="teacher"    column="teacher"    />
        <result property="paperTitle"    column="paper_title"    />
        <result property="projectName"    column="project_name"    />
        <result property="useStatus"    column="use_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFlTcpPaperVo">
        select id, stu_id, stu_name, major, cla, teacher, paper_title, project_name, use_status, create_by, create_time, update_by, update_time, remark from fl_tcp_paper
    </sql>

    <select id="selectFlTcpPaperList" parameterType="FlTcpPaper" resultMap="FlTcpPaperResult">
        <include refid="selectFlTcpPaperVo"/>
        <where>  
            <if test="stuId != null  and stuId != ''"> and stu_id = #{stuId}</if>
            <if test="stuName != null  and stuName != ''"> and stu_name like concat('%', #{stuName}, '%')</if>
            <if test="cla != null  and cla != ''"> and cla = #{cla}</if>
        </where>
    </select>
    
    <select id="selectFlTcpPaperById" parameterType="Long" resultMap="FlTcpPaperResult">
        <include refid="selectFlTcpPaperVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFlTcpPaper" parameterType="FlTcpPaper" useGeneratedKeys="true" keyProperty="id">
        insert into fl_tcp_paper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuId != null and stuId != ''">stu_id,</if>
            <if test="stuName != null and stuName != ''">stu_name,</if>
            <if test="major != null and major != ''">major,</if>
            <if test="cla != null and cla != ''">cla,</if>
            <if test="teacher != null and teacher != ''">teacher,</if>
            <if test="paperTitle != null and paperTitle != ''">paper_title,</if>
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="useStatus != null">use_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuId != null and stuId != ''">#{stuId},</if>
            <if test="stuName != null and stuName != ''">#{stuName},</if>
            <if test="major != null and major != ''">#{major},</if>
            <if test="cla != null and cla != ''">#{cla},</if>
            <if test="teacher != null and teacher != ''">#{teacher},</if>
            <if test="paperTitle != null and paperTitle != ''">#{paperTitle},</if>
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="useStatus != null">#{useStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFlTcpPaper" parameterType="FlTcpPaper">
        update fl_tcp_paper
        <trim prefix="SET" suffixOverrides=",">
            <if test="stuId != null and stuId != ''">stu_id = #{stuId},</if>
            <if test="stuName != null and stuName != ''">stu_name = #{stuName},</if>
            <if test="major != null and major != ''">major = #{major},</if>
            <if test="cla != null and cla != ''">cla = #{cla},</if>
            <if test="teacher != null and teacher != ''">teacher = #{teacher},</if>
            <if test="paperTitle != null and paperTitle != ''">paper_title = #{paperTitle},</if>
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="useStatus != null">use_status = #{useStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFlTcpPaperById" parameterType="Long">
        delete from fl_tcp_paper where id = #{id}
    </delete>

    <delete id="deleteFlTcpPaperByIds" parameterType="String">
        delete from fl_tcp_paper where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>