<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('4.3.2-10学生校外实习情况列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>专业：</label>
                                <input type="text" name="major"/>
                            </li>
                            <li>
                                <label>层次：</label>
                                <input type="text" name="eduLevel"/>
                            </li>
                            <li>
                                <label>班级：</label>
                                <input type="text" name="cla"/>
                            </li>
                            <li>
                                <label>学号：</label>
                                <input type="text" name="stuId"/>
                            </li>
                            <li>
                                <label>姓名：</label>
                                <input type="text" name="stuName"/>
                            </li>
                            <li>
                                <label>实习单位：</label>
                                <input type="text" name="practiceAddress"/>
                            </li>
                            <li>
                                <label>实习指导老师：</label>
                                <input type="text" name="practiceName"/>
                            </li>
                            <li>
                                <label>实习时间：</label>
                                <input type="text" name="practiceTime"/>
                            </li>
                            <li>
                                <label>实习成绩：</label>
                                <input type="text" name="practiceScore"/>
                            </li>
                            <li>
                                <label>是否使用：</label>
                                <select name="useStatus">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:school:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:school:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:school:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:school:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:school:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:school:remove')}]];
        var prefix = ctx + "system/school";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "4.3.2-10学生校外实习情况",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '序号',
                    visible: false
                },
                {
                    field: 'major',
                    title: '专业'
                },
                {
                    field: 'eduLevel',
                    title: '层次'
                },
                {
                    field: 'cla',
                    title: '班级'
                },
                {
                    field: 'stuId',
                    title: '学号'
                },
                {
                    field: 'stuName',
                    title: '姓名'
                },
                {
                    field: 'practiceAddress',
                    title: '实习单位'
                },
                {
                    field: 'practiceName',
                    title: '实习指导老师'
                },
                {
                    field: 'practiceTime',
                    title: '实习时间'
                },
                {
                    field: 'practiceScore',
                    title: '实习成绩'
                },
                {
                    field: 'useStatus',
                    title: '是否使用'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>